<br><br>
<section class="wrapper">
    <div class="container-fostrap">
        <div class="content">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="https://tongyidrivingschool.com/">
                                <img src="assets/DrivingSchoolApp_Logo.jpg"
                                class="img-fluid" style="width: 500px;" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="https://tongyidrivingschool.com/"> Driving School Web Page
                                  </a>
                                </h4>
                                <p class="">
                                    FULL STACK WEB APP
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="https://tongyidrivingschool.com/" class="btn btn-link btn-block">
                                    Open Web Page
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="https://youtu.be/YhMki09H3d4">
                                <img src="assets/Lululemon-Logo.jpg"
                                class="rounded-circle img-fluid" style="width: 200px;" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="https://youtu.be/YhMki09H3d4"> Lululemon Web Scraper
                                  </a>
                                </h4>
                                <p class="">
                                    BACKEND APP
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="https://youtu.be/YhMki09H3d4" class="btn btn-link btn-block">
                                    Watch DEMO
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="wrapper">
    <div class="container-fostrap">
        <div class="content">
            <div class="container">
                <div class="row d-flex justify-content-center">

                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="https://github.com/AnnnnnnTseng/Feb23-yelpcamp.git">
                                <img src="assets/campground.jpg"
                                class="rounded-circle img-fluid" style="width: 400px;" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="https://github.com/AnnnnnnTseng/Feb23-yelpcamp.git"> Campground Explorer
                                  </a>
                                </h4>
                                <p class="">
                                    FULL STACK WEB APP
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="https://github.com/AnnnnnnTseng/Feb23-yelpcamp.git" class="btn btn-link btn-block">
                                    Check Github
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="https://github.com/AnnnnnnTseng/Game-Pets-Simulator.git">
                                <img src="assets/gaming.jpg"
                                class="rounded-circle img-fluid" style="width: 400px;" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="https://github.com/AnnnnnnTseng/Game-Pets-Simulator.git">Pets Simulator Game
                                  </a>
                                </h4>
                                <p class="">
                                    BACKEND APP
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="https://github.com/AnnnnnnTseng/Game-Pets-Simulator.git" class="btn btn-link btn-block">
                                    Check Github
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- <h1>Project</h1>
<h2>Campground Explorer</h2>
<a href="https://github.com/AnnnnnnTseng/Feb23‐yelpcamp">FULL STACK WEB APP</a>
<br>

<h2>Lululemon Web Scraper</h2>
<a href="https://github.com/AnnnnnnTseng/web‐scraper‐lululemon">BACKEND APP</a>
<br>

<h2>Pets Simulator Game</h2>
<a href="https://github.com/AnnnnnnTseng/Game‐Pets‐Simulator">BACKEND APP</a>
<br>

<h2>Class Registration System</h2>
<a href="">DATABASE APP</a> -->
