<h1>Ann Tseng's Portfolio</h1>
<nav>
  <ul>
    
    <!-- <div class="d-flex">
      <div class="dropdown mr-1">
        <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
          Draw Down
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset" role="button" >
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div> -->
    <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="true">
        Dropdown button
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">My Book Shelf</a></li>
        <li><a class="dropdown-item" href="#">Direction API</a></li>
        <li><a class="dropdown-item" href="https://github.com/AnnnnnnTseng/Feb23-yelpcamp">Campground Explorer</a></li>
        <li><a class="dropdown-item" href="https://github.com/AnnnnnnTseng/web‐scraper‐lululemon">Lululemon Web Scraper</a></li>
        <li><a class="dropdown-item" href="https://github.com/AnnnnnnTseng/Game‐Pets‐Simulator">Pets Simulator Game</a></li>
      </ul>
    </div>
    <a routerLink="/" routerLinkActive="active">Home</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
    <a routerLink="/projects" routerLinkActive="active">Projects</a>
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
  </ul>
  <button>Download My Resume</button>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>