<h1>Home</h1>
<div class="container">
    <div class="row">
      <div class="col-6 mx-auto">
        <img class="img-thumbnail" src="assets/profile_picture.jpg" alt="profile_picture">
      </div>
    </div>
  </div>
  <div class="row">

<h2>Huai An Tseng</h2>
<h3>Full-Stack Web Developer</h3>

<div>
    <p>Ann is a highly skilled developer with a strong coding ability and proficiency in multiple programming languages, including Python, JavaScript, and Java. Her extensive full-stack development experience, showcased through projects like a full-stack web application for a driving school and a campground explorer app, highlights her capability to deliver robust and scalable solutions.

        Ann's collaborative skills are exceptional, honed through her two years as a Graduate Teaching Assistant at the University of Illinois at Urbana Champaign. In this role, she effectively communicated complex concepts and worked closely with diverse groups to enhance student performance. </p>
</div>